// Define variables for your color scheme

// For example:
$red: #E43025;
$blue: #00A6ED;
$yellow: #EAC435;
$orange: #E67E22;
$green: #009547;
$black: #000000;
$light-gray: #F6F7EB;
$pink: #FFEAEE;
$dark-blue: #0B4F6C;
$white: #FFF;
$gray: #111;
$gray2: #EEE;
