  <div class="order-top">
    <div class="card">
      <%= render '/shared/order_brief', order: order %>
    </div>
    <div class="card">
      <%= render '/shared/company_card', company: order.company %>
    </div>
  </div>
<div class="container">
  <%= render '/shared/order_list', lines: lines %>
</div>
