<div class="container">
  <%= link_to '<i class="fas fa-plus"></i> Add New Order'.html_safe, new_client_order_path, class: "btn" %>
  <% @orders.each do |o| %>
  <div class="row">
    <%= render "order_card", lines: @lines, o: o %>
  </div>
  <% end %>
</div>
