// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.home-contact {
  box-shadow: black 1px 1px 10px;
  background-color: #F4F4F4;

  h3 {
    color: $red;
  }

  p {
    font-size: 12px;
  }
}

.about-box {
  h4 {
    color: black;
    font-style: italic;
  }
  h5 {
    font-size: 15px;
  }
  background-color: rgba(225,225,225,0.3);
  box-shadow: gray 1px 1px 10px;
  padding: 20px;
  border: 0.5px solid rgb(225,225,225);
  border-radius: 3px;
}

.about {
  justify-content: center;
  align-item: top;
}
