<div class="card-order col-xs-10 col-md-4 col-xs-offset-1 col-md-offset-4">
  <h5>
    <strong><%= link_to "#{o.order_num} - #{o.status.capitalize}", client_order_path(o) %></strong>
  </h5>
  <h6>
    <strong><%= link_to "#{o.company.name}", company_path(o.company)  %></strong> (<%= o.address.pincode.city.name %>)
  </h6>
  <h6>
    Order Amount -  <strong><%= o.invoice_amount %></strong>
  </h6>
</div>
