<% unless @order.remark == "N/A" %>
<div class="top-margin"></div>
<div class="remarks col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
  <h4>
    <strong>Order Remarks - </strong><%= @order.remark %>
  </h4>
</div>
<br>
<br>
<% end %>
