<div class="card-default card-order-brief col-xs-4 col-xs-offset-1">
  <h4>Order Number - <%= order.order_num %></h4>
  <h5>Order Status - <%= order.status.capitalize %></h5>
  <div class="order-brief-btn">
    <%= link_to '<i class="fas fa-long-arrow-alt-left"></i> Return to all orders'.html_safe, client_orders_path, class: "btn-default btn-block" %>
  </div>
</div>
