<div class="card-default card-order-brief col-xs-12 col-md-4">
  <h4>Order Number - <strong><%= order.order_num %></strong></h4>
  <h4>Order Status - <strong><%= order.status.capitalize %></strong></h4>
  <h6>Invoice Amount - <strong><%= order.invoice_amount %></strong></h6>
  <div class="btn order-brief-btn">
    <%= link_to '<i class="fas fa-long-arrow-alt-left"></i> Return to all orders'.html_safe, client_orders_path, class: "btn-default btn" %>
  </div>
</div>
