<h1>Please add new HS Code</h1>

<%= simple_form_for harmonic do |f| %>
  <%= f.error_notification %>
      <%= f.input :hsn, label: false, placeholder: "33021010" %>
  <p><%= f.submit %></p>
<% end %>
