.btn-green {
  background-color: $green
}

.btn-red {
  background-color: red
}

.btn-prod-index {
  justify-content: center;
  color: black;
}

.btn-a {
  display: block;
  margin: 10px;
  justify-content: center;
  background-color: rgba($blue, 0.5);
  color: $black;
  border-radius: 20px;

}
.btn-a:hover {
  background-color: rgba($blue, 0.8);
  color: $white;
}

