.btn-green {
  background-color: $green
}

.btn-red {
  background-color: red
}

.btn-prod-index {
  justify-content: center;
  color: black;
}

.btn-default {
  display: block;
  flex: 1 0 auto;
  justify-content: center;
  background-color: rgba($blue, 0.5);
  color: $black;
  border-radius: 20px;
}
.btn-default:hover {
  background-color: rgba($blue, 0.8);
  color: $white;
}

.btn-top-m {
  margin-top: 20px;
}

.btn-home {
  width: 500px;
  height: 50px;
  align-item: center;
  display: block;
  margin: 10px;
  justify-content: center;
  background-color: rgba($blue, 0.5);
  color: $white;
  border-radius: 20px;
}

.btn-submit {
  display: block;
  flex: 1 0 auto;
  margin: 10px;
  justify-content: center;
  background-color: rgba($blue, 0.5);
  color: $black;
  border-radius: 20px;

}
.btn-submit:hover {
  background-color: rgba($blue, 0.8);
  color: $white;
}

.btn-status {
  justify-content: space-around;
  margin-bottom: 20px;
}
