.card-default {
  display: block;
  box-shadow: 1px 1px 5px $blue;
  border: 1px solid $light-gray;
  border-radius: 2px;
  margin: 10px;
  background-color: $white;
  padding: 10px;
}


.card-order {
  display: block;
  box-shadow: 1px 1px 5px $blue;
  border: 1px solid $light-gray;
  border-radius: 2px;
  margin: 10px;
  background-color: rgba($gray2,0.1);
  padding: 10px;
}

.card-company {
  box-shadow: 1px 1px 5px $black;
  background-color: $white;
  margin: 10px;
}
