.table-default {
  margin-top: 50px;
  background-color: $white;
  font-size: 12px;


  td {
    box-shadow: 1px 1px 5px $black;
    border: 1px solid $light-gray;
    border-radius: 2px;
  }

  th {
    box-shadow: 1px 1px 5px $blue;
    background-color: $gray2;
    border: 1px solid $light-gray;
    border-radius: 2px;
  }
}
